<h1>Listing reports</h1>

<table>
  <tr>
    <th>Month</th>
    <th>Profit</th>
    <th>Expenses</th>
    <th>Amount</th>
  </tr>

<% @reports.each do |report| %>
  <tr>
    <td><%=h report.month %></td>
    <td><%=h report.profit %></td>
    <td><%=h report.expenses %></td>
    <td><%=h report.amount %></td>
    <td><%= link_to 'Show', report %></td>
    <td><%= link_to 'Edit', edit_report_path(report) %></td>
    <td><%= link_to 'Destroy', report, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New report', new_report_path %>